# Apple file
.DS_Store

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed

# Intellij IDEA
.idea/

# Redis
dump.rdb

# Visual Studio Code
.vscode/

# Public 
public/*

# Distribution dir
dist/
client/client.min.js

# Code coverage dir used by tools like istanbul
coverage/

# Istanbul
.nyc_output/
